# Descriptive analysis of the results

At this point, we have a **.csv** with the following form: 
(Escribir cuadro aqui )

In [1]:
# Libraries
import numpy as np
import pandas as pd
import json

In [2]:
green_skills_normalized = pd.read_csv("../data/green_jobs_normalized.csv")
id_to_skill = json.load(open("../data/mapping/id_to_skill.json", "r"))

a, b = green_skills_normalized.shape
print(f"Number of green skills detected: {a}")
print(f"Number of unique green skills detected: {len(green_skills_normalized['skill_id'].unique())}")

Number of green skills detected: 5037
Number of unique green skills detected: 721

In [21]:
id_to_skill = json.load(open("../data/mapping/id_to_skill.json", "r"))
id_to_job = json.load(open("../data/mapping/id_to_job.json", "r"))

joined_data = green_skills_normalized.copy()

In [23]:
for row in joined_data.itertuples():
    skill_id = row.skill_id
    skill_name = id_to_skill.get(str(skill_id), "Unknown Skill")
    joined_data.at[row.Index, 'skill_name'] = skill_name

In [6]:
joined_data

,job_id,skill_id,similarity_score,skill_name
0,243ef92c3012f0f0,2012,0.537140,"[lean manufacturing, WCM world class manufactu..."
1,e2e422fd6ea193fb,211,0.508682,"[develop management plans, management plans pr..."
2,0dffb51a47828590,2424,0.506158,"[coordinate shipments of recycling materials, ..."
3,0dffb51a47828590,1577,0.502190,"[store sorted waste, sorted waste storing]"
4,0dffb51a47828590,1214,0.509662,"[inspect recycling procedures, recycling proce..."
...,...,...,...,...
5032,https://www.occ.com.mx/empleos/de-Stellantis/e...,1799,0.588585,"[develop food policy, launch food policy]"
5033,https://www.occ.com.mx/empleos/de-Stellantis/e...,2083,0.556318,"[develop recycling programs, launch recycling ..."
5034,https://www.occ.com.mx/empleos/de-Stellantis/e...,2013,0.565457,"[lean manufacturing, manufacturing excellence]"
5035,https://www.occ.com.mx/empleos/de-Stellantis/e...,156,0.502869,[interpret scientific data to assess water qua...
5036,https://www.occ.com.mx/empleos/de-Stellantis/e...,2137,0.520071,"[identify new recycling opportunities, analyse..."

In [24]:
jobs = pd.read_csv("../data/jan_to_apr_2025_with_languages_cleaned.csv")
jobs.head(5)

,Title,Job_ID,source,Skills,month,detected_language
0,ventas flotillas,977bbdb05a29b771,indeed,experiencia en prospeccion de clientes,1.0,es
1,ventas flotillas,977bbdb05a29b771,indeed,experiencia en cierre de ventas,1.0,es
2,ventas flotillas,977bbdb05a29b771,indeed,experiencia en giro automotriz,1.0,es
3,ventas flotillas,977bbdb05a29b771,indeed,licencia de manejo indispensable,1.0,es
4,ventas flotillas,977bbdb05a29b771,indeed,habilidad para la prospeccion en empresas (tel...,1.0,es

In [8]:
joined_data

,job_id,skill_id,similarity_score,skill_name
0,243ef92c3012f0f0,2012,0.537140,"[lean manufacturing, WCM world class manufactu..."
1,e2e422fd6ea193fb,211,0.508682,"[develop management plans, management plans pr..."
2,0dffb51a47828590,2424,0.506158,"[coordinate shipments of recycling materials, ..."
3,0dffb51a47828590,1577,0.502190,"[store sorted waste, sorted waste storing]"
4,0dffb51a47828590,1214,0.509662,"[inspect recycling procedures, recycling proce..."
...,...,...,...,...
5032,https://www.occ.com.mx/empleos/de-Stellantis/e...,1799,0.588585,"[develop food policy, launch food policy]"
5033,https://www.occ.com.mx/empleos/de-Stellantis/e...,2083,0.556318,"[develop recycling programs, launch recycling ..."
5034,https://www.occ.com.mx/empleos/de-Stellantis/e...,2013,0.565457,"[lean manufacturing, manufacturing excellence]"
5035,https://www.occ.com.mx/empleos/de-Stellantis/e...,156,0.502869,[interpret scientific data to assess water qua...
5036,https://www.occ.com.mx/empleos/de-Stellantis/e...,2137,0.520071,"[identify new recycling opportunities, analyse..."

In [29]:
jobs_unique = jobs.drop_duplicates(subset=["Job_ID"])
jobs_unique

,Title,Job_ID,source,Skills,month,detected_language
0,ventas flotillas,977bbdb05a29b771,indeed,experiencia en prospeccion de clientes,1.0,es
6,mecÃ¡nico automotriz,59a2489d8a7ab1c7,indeed,experiencia minima de 1 ano como tecnico mecan...,1.0,pt
15,process quality lead - machining,243ef92c3012f0f0,indeed,titulo nivel licenciatura indispensable,1.0,it
36,cajera,d67f5f1a8934e3db,indeed,actitud de servicio,1.0,ca
45,ejecutivo de ventas jeep,e2e422fd6ea193fb,indeed,licencia de conducir vigente,1.0,es
...,...,...,...,...,...,...
70166,bussines unit leader biw svap,https://www.occ.com.mx/empleos/de-Stellantis/e...,occ,8 years of experience related,4.0,en
70201,pqe body in white,https://www.occ.com.mx/empleos/de-Stellantis/e...,occ,"bachelor's degree in industrial, mechanical, m...",4.0,en
70230,labor relation specialist,https://www.occ.com.mx/empleos/de-Stellantis/e...,occ,experience of at least 5 years in labor relations,4.0,en
70252,wiring harness engineer,https://www.occ.com.mx/empleos/de-Stellantis/e...,occ,engineer level qualification,4.0,it
70268,pmo planning specialist,https://www.occ.com.mx/empleos/de-Stellantis/e...,occ,"minimum of a bachelor's degree in engineering,...",4.0,en

In [30]:
df_merged = joined_data.merge(
    jobs_unique[["Job_ID", "Title"]],
    left_on="job_id",
    right_on="Job_ID",
    how="left"
).drop(columns=["Job_ID"])

In [33]:
df_merged.head()

,job_id,skill_id,similarity_score,skill_name,Title
0,243ef92c3012f0f0,2012,0.537140,"[lean manufacturing, WCM world class manufactu...",process quality lead - machining
1,e2e422fd6ea193fb,211,0.508682,"[develop management plans, management plans pr...",ejecutivo de ventas jeep
2,0dffb51a47828590,2424,0.506158,"[coordinate shipments of recycling materials, ...",business unit leader - machining
3,0dffb51a47828590,1577,0.502190,"[store sorted waste, sorted waste storing]",business unit leader - machining
4,0dffb51a47828590,1214,0.509662,"[inspect recycling procedures, recycling proce...",business unit leader - machining

In [34]:
df_merged.to_csv("../data/green_jobs_with_titles.csv", index=False)